# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Installer logs
debug.log

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Misc
*.bak
*.tmp

# IDEs
.idea/

# Inno Setup
*.iss

# PDF exports
*.pdf
